<!DOCTYPE html>
<html>
  <head>
    <title>Zoozle</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header class="header">
      <ul class="row">
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Popular Searches', root_path %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
